/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
 html {
    font-family: sans-serif;
    /* 1 */
    -ms-text-size-adjust: 100%;
    /* 2 */
    -webkit-text-size-adjust: 100%;
    /* 2 */ }
  
  /**
   * Remove default margin.
   */
  body {
    margin: 0; }
  
  /* HTML5 display definitions
     ========================================================================== */
  /**
   * Correct `block` display not defined for any HTML5 element in IE 8/9.
   * Correct `block` display not defined for `details` or `summary` in IE 10/11
   * and Firefox.
   * Correct `block` display not defined for `main` in IE 11.
   */
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  main,
  menu,
  nav,
  section,
  summary {
    display: block; }
  
  /**
   * 1. Correct `inline-block` display not defined in IE 8/9.
   * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
   */
  audio,
  canvas,
  progress,
  video {
    display: inline-block;
    /* 1 */
    vertical-align: baseline;
    /* 2 */ }
  
  /**
   * Prevent modern browsers from displaying `audio` without controls.
   * Remove excess height in iOS 5 devices.
   */
  audio:not([controls]) {
    display: none;
    height: 0; }
  
  /**
   * Address `[hidden]` styling not present in IE 8/9/10.
   * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
   */
  [hidden],
  template {
    display: none; }
  
  /* Links
     ========================================================================== */
  /**
   * Remove the gray background color from active links in IE 10.
   */
  a {
    background-color: transparent; }
  
  /**
   * Improve readability when focused and also mouse hovered in all browsers.
   */
  a:active,
  a:hover {
    outline: 0; }
  
  /* Text-level semantics
     ========================================================================== */
  /**
   * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
   */
  abbr[title] {
    border-bottom: 1px dotted; }
  
  /**
   * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
   */
  b,
  strong {
    font-weight: bold; }
  
  /**
   * Address styling not present in Safari and Chrome.
   */
  dfn {
    font-style: italic; }
  
  /**
   * Address variable `h1` font-size and margin within `section` and `article`
   * contexts in Firefox 4+, Safari, and Chrome.
   */
  h1 {
    font-size: 2em;
    margin: 0 0; }
  
  /**
   * Address styling not present in IE 8/9.
   */
  mark {
    background: #ff0;
    color: #000; }
  
  /**
   * Address inconsistent and variable font size in all browsers.
   */
  small {
    font-size: 80%; }
  
  /**
   * Prevent `sub` and `sup` affecting `line-height` in all browsers.
   */
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline; }
  
  sup {
    top: -0.5em; }
  
  sub {
    bottom: -0.25em; }
  
  /* Embedded content
     ========================================================================== */
  /**
   * Remove border when inside `a` element in IE 8/9/10.
   */
  img {
    border: 0; }
  
  /**
   * Correct overflow not hidden in IE 9/10/11.
   */
  svg:not(:root) {
    overflow: hidden; }
  
  /* Grouping content
     ========================================================================== */
  /**
   * Address margin not present in IE 8/9 and Safari.
   */
  figure {
    margin: 1em 40px; }
  
  /**
   * Address differences between Firefox and other browsers.
   */
  hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0; }
  
  /**
   * Contain overflow in all browsers.
   */
  pre {
    overflow: auto; }
  
  /**
   * Address odd `em`-unit font size rendering in all browsers.
   */
  code,
  kbd,
  pre,
  samp {
    font-family: monospace, monospace;
    font-size: 1em; }
  
  /* Forms
     ========================================================================== */
  /**
   * Known limitation: by default, Chrome and Safari on OS X allow very limited
   * styling of `select`, unless a `border` property is set.
   */
  /**
   * 1. Correct color not being inherited.
   *    Known issue: affects color of disabled elements.
   * 2. Correct font properties not being inherited.
   * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
   */
  button,
  input,
  optgroup,
  select,
  textarea {
    color: inherit;
    /* 1 */
    font: inherit;
    /* 2 */
    margin: 0;
    /* 3 */ }
  
  /**
   * Address `overflow` set to `hidden` in IE 8/9/10/11.
   */
  button {
    overflow: visible; }
  
  /**
   * Address inconsistent `text-transform` inheritance for `button` and `select`.
   * All other form control elements do not inherit `text-transform` values.
   * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
   * Correct `select` style inheritance in Firefox.
   */
  button,
  select {
    text-transform: none; }
  
  /**
   * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
   *    and `video` controls.
   * 2. Correct inability to style clickable `input` types in iOS.
   * 3. Improve usability and consistency of cursor style between image-type
   *    `input` and others.
   */
  button,
  html input[type="button"],
  input[type="reset"],
  input[type="submit"] {
    -webkit-appearance: button;
    /* 2 */
    cursor: pointer;
    /* 3 */ }
  
  /**
   * Re-set default cursor for disabled elements.
   */
  button[disabled],
  html input[disabled] {
    cursor: default; }
  
  /**
   * Remove inner padding and border in Firefox 4+.
   */
  button::-moz-focus-inner,
  input::-moz-focus-inner {
    border: 0;
    padding: 0; }
  
  /**
   * Address Firefox 4+ setting `line-height` on `input` using `!important` in
   * the UA stylesheet.
   */
  input {
    line-height: normal; }
  
  /**
   * It's recommended that you don't attempt to style these elements.
   * Firefox's implementation doesn't respect box-sizing, padding, or width.
   *
   * 1. Address box sizing set to `content-box` in IE 8/9/10.
   * 2. Remove excess padding in IE 8/9/10.
   */
  input[type="checkbox"],
  input[type="radio"] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */ }
  
  /**
   * Fix the cursor style for Chrome's increment/decrement buttons. For certain
   * `font-size` values of the `input`, it causes the cursor style of the
   * decrement button to change from `default` to `text`.
   */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    height: auto; }
  
  /**
   * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
   * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
   *    (include `-moz` to future-proof).
   */
  input[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    /* 2 */
    box-sizing: content-box; }
  
  /**
   * Remove inner padding and search cancel button in Safari and Chrome on OS X.
   * Safari (but not Chrome) clips the cancel button when the search input has
   * padding (and `textfield` appearance).
   */
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }
  
  /**
   * Define consistent border, margin, and padding.
   */
  fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em; }
  
  /**
   * 1. Correct `color` not being inherited in IE 8/9/10/11.
   * 2. Remove padding so people aren't caught out if they zero out fieldsets.
   */
  legend {
    border: 0;
    /* 1 */
    padding: 0;
    /* 2 */ }
  
  /**
   * Remove default vertical scrollbar in IE 8/9/10/11.
   */
  textarea {
    overflow: auto; }
  
  /**
   * Don't inherit the `font-weight` (applied by a rule above).
   * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
   */
  optgroup {
    font-weight: bold; }
  
  /* Tables
     ========================================================================== */
  /**
   * Remove most spacing between table cells.
   */
  table {
    border-collapse: collapse;
    border-spacing: 0; }
  
  td,
  th {
    padding: 0; }
  
  html {
    box-sizing: border-box;
    font-family: "Georgia", sans-serif;
    font-size: 20px;
    line-height: 23px;
    font-weight: 400;
    color: #545454;
    scroll-behavior: smooth; }
  
  *, *::before, *::after {
    box-sizing: inherit; }
  
  body {
    min-width: 320px;
    overflow-x: hidden; }
  
  p {
    margin-top: 0;
    margin-bottom: 0; }
  
  a {
    color: inherit;
    text-decoration: none; }
  
  ul {
    margin: 0;
    padding: 0; }
  
  button:active, button:focus {
    outline: none !important; }
  
  h1, h2, h4, h3 {
    margin: 0; }
  
  .container {
    position: relative;
    max-width: 1200px;
    margin: 0 auto; }
    @media only screen and (max-width: 1279.98px) {
      .container {
        max-width: 984px; } }
    @media only screen and (max-width: 767.98px) {
      .container {
        max-width: 728px; } }
    @media only screen and (max-width: 319.98px) {
      .container {
        max-width: 100%; } }
  
  @media only screen and (max-width: 319.98px) {
    .section {
      padding-right: 15px;
      padding-left: 15px; } }
  
  .button {
    display: inline-block;
    padding: 15px 43px;
    border-radius: 100px;
    background-color: #F1CDB3;
    color: #292929;
    outline: none;
    border: none;
    cursor: pointer;
    transition: background-color .2s ease-in-out; }
    .button:hover {
      background-color: #FDDCC4; }
    .button__trans {
      padding: 12px 40px;
      background-color: transparent;
      border: 2px solid #F1CDB3;
      font-size: 17px;
      line-height: 22.1px;
      letter-spacing: 1px;
      transition: background-color .2s linear, border .2s linear; }
      .button__trans:hover {
        background-color: #FDDCC4;
        border: 2px solid #FDDCC4; }
  
  .title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 35px;
    line-height: 45.5px; }
  
  .modal {
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgba(41, 41, 41, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    color: #000000; }
    .modal__wrapper {
      width: 900px;
      margin: 135px auto; }
      @media only screen and (max-width: 1279.98px) {
        .modal__wrapper {
          max-width: 630px; } }
      @media only screen and (max-width: 767.98px) {
        .modal__wrapper {
          max-width: 240px; } }
    .modal__inner {
      display: flex;
      gap: 30px;
      background-color: #fff;
      border-radius: 9px;
      position: relative; }
      @media only screen and (max-width: 1279.98px) {
        .modal__inner {
          gap: 11px; } }
    .modal__img {
      width: 500px;
      height: 500px;
      border-radius: 9px; }
      @media only screen and (max-width: 1279.98px) {
        .modal__img {
          max-width: 350px;
          max-height: 350px; } }
      @media only screen and (max-width: 767.98px) {
        .modal__img {
          display: none; } }
    .modal__content {
      padding-top: 50px;
      padding-right: 20px; }
      @media only screen and (max-width: 1279.98px) {
        .modal__content {
          padding-top: 10px;
          padding-right: 9px; } }
      @media only screen and (max-width: 767.98px) {
        .modal__content {
          padding: 10px; } }
    .modal__title {
      letter-spacing: 2px;
      margin-bottom: 10px; }
      @media only screen and (max-width: 767.98px) {
        .modal__title {
          text-align: center; } }
    .modal__subtitle {
      letter-spacing: -0.4px;
      font-weight: 400;
      margin-bottom: 40px; }
      @media only screen and (max-width: 1279.98px) {
        .modal__subtitle {
          margin-bottom: 20px; } }
      @media only screen and (max-width: 767.98px) {
        .modal__subtitle {
          text-align: center; } }
    .modal__text {
      font-size: 15px;
      line-height: 16.5px;
      letter-spacing: 1px;
      margin-bottom: 45px; }
      @media only screen and (max-width: 1279.98px) {
        .modal__text {
          font-size: 13px;
          line-height: 14px;
          letter-spacing: 0.059em;
          margin-bottom: 20px; } }
      @media only screen and (max-width: 767.98px) {
        .modal__text {
          text-align: justify;
          letter-spacing: 0.05em; } }
    .modal__list {
      list-style: inside; }
      .modal__list-item {
        font-size: 15px;
        line-height: 16.5px;
        letter-spacing: 1px;
        margin-bottom: 10px; }
        .modal__list-item::marker {
          margin-right: 5px;
          color: #F1CDB3; }
        @media only screen and (max-width: 1279.98px) {
          .modal__list-item {
            margin-bottom: 6px; } }
        @media only screen and (max-width: 767.98px) {
          .modal__list-item {
            line-height: 17px; } }
    .modal__close {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 52px;
      height: 52px;
      border-radius: 50%;
      border: 2px solid #F1CDB3;
      vertical-align: middle;
      cursor: pointer;
      position: absolute;
      right: -42px;
      top: -52px;
      transition: border .2s linear, background-color .2s linear; }
      .modal__close:hover {
        border: 2px solid #FDDCC4;
        background-color: #FDDCC4; }
      @media only screen and (max-width: 767.98px) {
        .modal__close {
          right: -30px; } }
  
  .burger {
    display: none;
    width: 30px;
    height: 22px;
    position: relative;
    z-index: 50;
    transition: transform .3s ease-in-out; }
    .burger__inner {
      width: 30px;
      height: 2px;
      background: #F1CDB3; }
      .burger__inner-pets {
        background: #000000; }
    .burger__inner::before, .burger__inner::after {
      content: '';
      position: absolute;
      width: 30px;
      height: 2px;
      background: #F1CDB3;
      transition: all .2s ease-in-out; }
    .burger__inner-pets::after, .burger__inner-pets::before {
      content: '';
      position: absolute;
      width: 30px;
      height: 2px;
      background: #000000;
      transition: all .2s ease-in-out; }
    .burger__inner::before {
      top: 0; }
    .burger__inner::after {
      bottom: 0; }
    @media only screen and (max-width: 767.98px) {
      .burger {
        display: flex;
        justify-content: center;
        align-items: center; } }
  
  .dark {
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgba(41, 41, 41, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 21; }
    .dark.active {
      display: block; }
  
  .burger__menu {
    display: block;
    transform: translateX(320px);
    width: 320px;
    height: 100%;
    background: #292929;
    position: fixed;
    right: 0;
    z-index: 22;
    transition: transform .1s ease-in; }
    .burger__menu-active {
      transform: translateX(0); }
  
  .burger__top {
    padding-top: 30px;
    padding-left: 10px;
    margin-bottom: 158px;
    max-width: 300px;
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    align-items: center; }
    .burger__top > .burger__logo > .burger__inner-pets {
      background: #F1CDB3; }
  
  .burger__nav-list {
    margin: 0 auto;
    text-align: center;
    list-style: none; }
    .burger__nav-list-item {
      margin-bottom: 40px;
      font-family: "Arial", sans-serif;
      font-size: 32px;
      line-height: 160%;
      color: #CDCDCD; }
      .burger__nav-list-item:nth-child(1) > a {
        border-bottom: 3px solid #F1CDB3; }
      .burger__nav-list-item-pets:nth-child(1) > a {
        border-bottom: none; }
      .burger__nav-list-item-pets:nth-child(2) > a {
        border-bottom: 3px solid #F1CDB3; }
      .burger__nav-list-item:hover {
        color: #FAFAFA; }
  
  .header {
    padding-top: 60px;
    margin-bottom: 60px; }
    @media only screen and (max-width: 1279.98px) {
      .header {
        padding-top: 30px; } }
    @media only screen and (max-width: 767.98px) {
      .header {
        margin-bottom: 60px; } }
    .header__pets {
      padding-top: 30px;
      background: #FFFFFF; }
      .header__pets-sticky {
        padding-bottom: 30px;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 20; }
    .header__inner {
      display: flex;
      justify-content: space-between; }
      @media only screen and (max-width: 1279.98px) {
        .header__inner {
          max-width: 708px; } }
      @media only screen and (max-width: 767.98px) {
        .header__inner {
          max-width: 300px;
          justify-content: flex-start;
          gap: 40px;
          align-items: center; } }
      .header__inner.invisibility {
        max-width: 84%;
        justify-content: flex-end; }
    @media only screen and (max-width: 767.98px) {
      .header__logo {
        justify-self: flex-start; } }
    .header__title {
      margin-bottom: 10px;
      font-size: 32px;
      line-height: 35.2px;
      color: #F1CDB3;
      letter-spacing: 2px; }
      .header__title-pets {
        color: #545454; }
    .header__text {
      font-size: 13px;
      line-height: 14.95px;
      color: #FFFFFF;
      padding-left: 4px;
      letter-spacing: 0.1em;
      font-family: "Arial", sans-serif; }
      .header__text-pets {
        color: #292929; }
    .header__nav {
      margin: auto 0; }
      @media only screen and (max-width: 767.98px) {
        .header__nav {
          display: none; } }
    .header__list {
      list-style: none;
      display: flex;
      vertical-align: middle; }
    .header__list-item {
      margin-right: 35px;
      font-family: "Arial", sans-serif;
      font-size: 15px;
      line-height: 24px; }
      .header__list-item > a {
        color: #CDCDCD;
        transition: color .1s linear; }
      .header__list-item > a:hover {
        color: #FAFAFA; }
      .header__list-item:nth-child(1) > a {
        color: #FAFAFA;
        border-bottom: 3px solid #F1CDB3; }
      .header__list-item:last-child {
        margin-right: 0; }
      .header__list-item-pets > a {
        color: #545454; }
      .header__list-item-pets > a:hover {
        color: #292929; }
      .header__list-item-pets:nth-child(2) > a {
        color: #292929;
        border-bottom: 3px solid #F1CDB3; }
      .header__list-item-pets:nth-child(1) > a {
        border-bottom: none;
        color: #545454; }
        .header__list-item-pets:nth-child(1) > a:hover {
          color: #292929; }
  
  .hero {
    background: url("assets/images/hero/noise_transparent@2X.png"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20; }
    .hero__inner {
      display: flex;
      justify-content: space-between; }
      @media only screen and (max-width: 1279.98px) {
        .hero__inner {
          flex-direction: column;
          align-items: center; }
          .hero__inner img {
            max-width: 569px;
            margin-right: -140px; } }
      @media only screen and (max-width: 767.98px) {
        .hero__inner img {
          max-width: 260px;
          margin-right: -40px; } }
    .hero__content {
      padding-top: 165px;
      max-width: 460px;
      min-height: 322px; }
      @media only screen and (max-width: 1279.98px) {
        .hero__content {
          padding-top: 0;
          margin-bottom: 100px; } }
      @media only screen and (max-width: 767.98px) {
        .hero__content {
          text-align: center;
          max-width: 300px;
          margin-bottom: 80px; } }
    .hero__title {
      margin-bottom: 39px;
      font-size: 44px;
      line-height: 57.2px;
      max-width: 310px;
      color: #FFFFFF; }
      @media only screen and (max-width: 767.98px) {
        .hero__title {
          font-size: 25px;
          line-height: 32.5px;
          max-width: 230px;
          margin: 0 auto 39px;
          letter-spacing: 1.5px; } }
    .hero__text {
      font-family: "Arial", sans-serif;
      margin-bottom: 42px;
      font-size: 15px;
      line-height: 24px;
      color: #CDCDCD; }
    .hero__button {
      width: 209px; }
      @media only screen and (max-width: 1279.98px) {
        .hero__button {
          display: block;
          margin: 0 auto; } }
  
  .about {
    padding: 80px 0 100px; }
    @media only screen and (max-width: 1279.98px) {
      .about {
        padding-top: 65px; } }
    @media only screen and (max-width: 767.98px) {
      .about {
        padding-top: 26px;
        padding-bottom: 42px; } }
    .about__inner {
      display: flex;
      justify-content: center; }
      @media only screen and (max-width: 1279.98px) {
        .about__inner {
          flex-direction: column;
          align-items: center;
          row-gap: 95px; } }
      @media only screen and (max-width: 767.98px) {
        .about__inner {
          row-gap: 172px; } }
    .about__image {
      margin-right: 120px; }
      @media only screen and (max-width: 1279.98px) {
        .about__image {
          order: 2;
          margin-right: 0; } }
      @media only screen and (max-width: 767.98px) {
        .about__image {
          max-width: 260px; } }
    .about__content {
      padding-top: 15px;
      max-width: 430px;
      max-height: 380px; }
      @media only screen and (max-width: 1279.98px) {
        .about__content {
          order: 1; } }
      @media only screen and (max-width: 767.98px) {
        .about__content {
          text-align: center;
          max-width: 270px; } }
    .about__title {
      max-width: 370px;
      margin-bottom: 25px;
      letter-spacing: 2px; }
      @media only screen and (max-width: 767.98px) {
        .about__title {
          max-width: 230px;
          margin: 0 auto 25px;
          font-size: 25px;
          line-height: 32.5px;
          letter-spacing: 1.5px; } }
    .about__text {
      font-family: 'Arial', sans-serif;
      font-size: 15px;
      line-height: 24px; }
      .about__text > p {
        margin-bottom: 25px; }
        .about__text > p:last-child {
          margin-bottom: 0; }
      @media only screen and (max-width: 767.98px) {
        .about__text {
          font-size: 15px;
          text-align: justify; }
          .about__text > p {
            margin-bottom: 22px; }
            .about__text > p:last-child {
              margin-bottom: 0; } }
  
  .pets {
    padding: 80px 0 100px;
    background: #F6F6F6; }
    @media only screen and (max-width: 767.98px) {
      .pets {
        padding-top: 42px;
        padding-bottom: 42px; } }
    .pets__inner {
      text-align: center; }
    .pets__title {
      margin: 0 auto 60px;
      max-width: 400px;
      text-align: center;
      letter-spacing: 2.1px; }
      @media only screen and (max-width: 767.98px) {
        .pets__title {
          max-width: 300px;
          font-size: 25px;
          line-height: 32.5px;
          letter-spacing: 1.5px;
          margin-bottom: 42px; } }
    .pets__slider {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
      margin-bottom: 60px; }
      @media only screen and (max-width: 1279.98px) {
        .pets__slider {
          max-width: 708px;
          margin: 0 auto 60px; } }
      @media only screen and (max-width: 767.98px) {
        .pets__slider {
          max-width: 270px;
          grid-template-columns: 135px 135px;
          grid-template-rows: 435px 94px;
          align-content: center;
          margin-bottom: 20px; } }
    .pets__slider-arrow {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 52px;
      height: 52px;
      border-radius: 50%;
      border: 2px solid #F1CDB3;
      vertical-align: middle;
      cursor: pointer;
      transition: border .2s linear, background-color .2s linear; }
      .pets__slider-arrow:hover {
        border: 2px solid #FDDCC4;
        background-color: #FDDCC4; }
      @media only screen and (max-width: 767.98px) {
        .pets__slider-arrow-left {
          order: 2;
          grid-column: 1/2;
          grid-row: 2/3;
          justify-self: center; } }
      .pets__slider-arrow-right {
        transform: rotate(180deg);
        margin-left: auto; }
        @media only screen and (max-width: 767.98px) {
          .pets__slider-arrow-right {
            order: 3;
            grid-column: 2/3;
            grid-row: 2/3;
            justify-self: center;
            margin-left: 0; } }
    .pets__slider-wrapper {
      padding: 35px;
      margin: -35px;
      overflow: hidden;
      width: 1060px; }
      @media only screen and (max-width: 1279.98px) {
        .pets__slider-wrapper {
          max-width: 650px; } }
      @media only screen and (max-width: 767.98px) {
        .pets__slider-wrapper {
          max-width: 330px; } }
    .pets__slider-inner {
      display: flex;
      gap: 90px;
      transition: all .5s ease; }
      @media only screen and (max-width: 1279.98px) {
        .pets__slider-inner {
          gap: 40px; } }
    .pets__slide {
      padding-bottom: 30px;
      text-align: center;
      background: #FAFAFA;
      border-radius: 9px;
      transition: box-shadow .1s linear; }
      .pets__slide:last-child {
        margin-right: 0; }
      .pets__slide-image {
        margin-bottom: 27px; }
        @media only screen and (max-width: 767.98px) {
          .pets__slide-image {
            margin-bottom: 26px; } }
      .pets__slide-name {
        margin-bottom: 30px;
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 1px; }
      .pets__slide:hover .pets__slide-button {
        border: 2px solid #FDDCC4;
        background-color: #FDDCC4; }
      .pets__slide:hover {
        box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
        background: #FFFFFF;
        cursor: pointer; }
      @media only screen and (max-width: 767.98px) {
        .pets__slide {
          grid-column: 1/3; } }
    .pets__button {
      font-size: 17px;
      line-height: 22.1px;
      letter-spacing: 1px; }
    .pets__second {
      padding: 200px 0 100px; }
      @media only screen and (max-width: 1279.98px) {
        .pets__second {
          padding-bottom: 75px; } }
      @media only screen and (max-width: 767.98px) {
        .pets__second {
          padding: 162px 0 42px; } }
      .pets__second-list {
        gap: 40px;
        row-gap: 30px;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 60px; }
        @media only screen and (max-width: 1279.98px) {
          .pets__second-list {
            margin-bottom: 40px; }
            .pets__second-list > .pets__slide:nth-child(7) {
              display: none; }
            .pets__second-list > .pets__slide:nth-child(8) {
              display: none; } }
        @media only screen and (max-width: 767.98px) {
          .pets__second-list {
            max-width: 270px;
            margin: 0 auto;
            margin-bottom: 45px; }
            .pets__second-list > .pets__slide:nth-child(4) {
              display: none; }
            .pets__second-list > .pets__slide:nth-child(5) {
              display: none; }
            .pets__second-list > .pets__slide:nth-child(6) {
              display: none; } }
      @media only screen and (max-width: 1279.98px) {
        .pets__second-title {
          margin-bottom: 30px; } }
      @media only screen and (max-width: 767.98px) {
        .pets__second-title {
          margin-bottom: 42px; } }
    .pets__pagination {
      max-width: 340px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between; }
      .pets__pagination-button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 52px;
        height: 52px;
        border-radius: 50%;
        border: 2px solid #F1CDB3;
        vertical-align: middle;
        cursor: pointer;
        transition: border .2s linear, background-color .2s linear; }
        .pets__pagination-button-inactive {
          border: 2px solid #CDCDCD;
          color: #CDCDCD;
          cursor: default; }
        .pets__pagination-button-current {
          background-color: #F1CDB3;
          cursor: default; }
      @media only screen and (max-width: 767.98px) {
        .pets__pagination {
          max-width: 300px;
          justify-content: center;
          column-gap: 10px; } }
  
  .help {
    padding: 80px 0 100px; }
    @media only screen and (max-width: 767.98px) {
      .help {
        padding-top: 42px;
        padding-bottom: 42px; } }
    .help__inner {
      text-align: center; }
    .help__title {
      margin-bottom: 60px;
      letter-spacing: 2px; }
      @media only screen and (max-width: 767.98px) {
        .help__title {
          max-width: 300px;
          font-size: 25px;
          line-height: 32.5px;
          letter-spacing: 1.5px;
          margin: 0 auto 42px; } }
    .help__list {
      display: flex;
      justify-content: center;
      align-self: center;
      column-gap: 120px;
      row-gap: 55px;
      flex-wrap: wrap;
      list-style-type: none; }
      @media only screen and (max-width: 1279.98px) {
        .help__list {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          column-gap: 60px;
          max-width: 630px;
          margin: 0 auto; } }
      @media only screen and (max-width: 767.98px) {
        .help__list {
          grid-template-columns: repeat(2, 1fr);
          row-gap: 30px;
          max-width: 290px;
          column-gap: 30px; } }
    .help__list-item {
      text-align: center; }
      .help__list-item:last-child {
        margin-right: 0; }
      .help__list-item > img {
        display: block;
        margin: 0 auto 30px;
        height: 60px;
        width: 60px; }
        @media only screen and (max-width: 767.98px) {
          .help__list-item > img {
            width: 50px;
            height: 50px;
            margin-bottom: 20px; } }
      .help__list-item > h4 {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 20px;
        line-height: 23px;
        font-weight: 400;
        letter-spacing: 1px; }
        @media only screen and (max-width: 767.98px) {
          .help__list-item > h4 {
            font-size: 15px;
            line-height: 16.5px; } }
  
  .donation {
    padding: 80px 0 100px;
    background: #F6F6F6; }
    @media only screen and (max-width: 767.98px) {
      .donation {
        padding: 42px 0; } }
    .donation__inner {
      display: flex;
      justify-content: center;
      align-items: center; }
      @media only screen and (max-width: 1279.98px) {
        .donation__inner {
          flex-direction: column;
          row-gap: 57px; } }
      @media only screen and (max-width: 767.98px) {
        .donation__inner {
          row-gap: 42px; } }
    .donation__img {
      width: 505px;
      height: 261px;
      margin-right: 30px; }
      @media only screen and (max-width: 1279.98px) {
        .donation__img {
          order: 2;
          margin-right: 0; } }
      @media only screen and (max-width: 767.98px) {
        .donation__img {
          max-width: 260px;
          max-height: 135.2px; } }
    .donation__content {
      max-width: 380px; }
      @media only screen and (max-width: 1279.98px) {
        .donation__content {
          order: 1; } }
      @media only screen and (max-width: 767.98px) {
        .donation__content {
          max-width: 300px; } }
    .donation__title {
      max-width: 300px;
      letter-spacing: 2px;
      margin-bottom: 15px; }
      @media only screen and (max-width: 767.98px) {
        .donation__title {
          max-width: 220px;
          font-size: 25px;
          line-height: 32.5px;
          letter-spacing: 1.5px;
          margin: 0 auto 20px;
          text-align: center; } }
    .donation__subtitle {
      margin: 0;
      margin-bottom: 17px;
      font-size: 15px;
      line-height: 24px;
      font-weight: 400;
      letter-spacing: 1px; }
      @media only screen and (max-width: 767.98px) {
        .donation__subtitle {
          max-width: 273px;
          letter-spacing: 0;
          margin: 0 auto 20px; } }
    .donation__link {
      padding: 10px 15px;
      margin-bottom: 20px;
      width: 350px;
      display: flex;
      justify-content: center;
      align-items: center;
      vertical-align: middle;
      border-radius: 9px;
      letter-spacing: 1px; }
      .donation__link > img {
        margin-right: 15px; }
      @media only screen and (max-width: 767.98px) {
        .donation__link {
          max-width: 280px;
          margin: 0 auto 20px;
          font-size: 15px;
          line-height: 16.5px;
          letter-spacing: 0.85px;
          justify-content: space-between; } }
    .donation__text {
      font-family: "Arial", sans-serif;
      font-style: italic;
      font-size: 12px;
      line-height: 18px;
      color: #B2B2B2; }
      @media only screen and (max-width: 767.98px) {
        .donation__text {
          margin: 0 auto;
          max-width: 280px;
          text-align: justify; } }
  
  .footer {
    background: url(assets/images/hero/noise_transparent@2X.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
    padding-top: 40px; }
    @media only screen and (max-width: 1279.98px) {
      .footer {
        padding-top: 30px; } }
    .footer__inner {
      display: grid;
      grid-template-columns: 278px 302px 1fr;
      column-gap: 160px; }
      @media only screen and (max-width: 1279.98px) {
        .footer__inner {
          justify-content: center;
          grid-template-columns: 278px 302px;
          column-gap: 60px;
          row-gap: 60px; } }
      @media only screen and (max-width: 767.98px) {
        .footer__inner {
          grid-template-columns: 300px;
          grid-template-rows: 208px 222px 269px;
          text-align: center;
          row-gap: 40px; } }
    .footer__questions {
      display: grid;
      padding-top: 16px;
      grid-template-rows: 90px 32px 32px;
      row-gap: 40px; }
      .footer__questions-img {
        width: 40px;
        height: 32px;
        margin-right: 20px; }
      @media only screen and (max-width: 1279.98px) {
        .footer__questions {
          grid-template-rows: none;
          padding-top: 0; } }
      @media only screen and (max-width: 767.98px) {
        .footer__questions {
          grid-template-rows: 64px 32px 32px;
          row-gap: 40px; } }
    .footer__adress {
      display: grid;
      padding-top: 16px;
      grid-template-rows: 90px 43px 32px;
      row-gap: 34px; }
      .footer__adress-img {
        width: 22px;
        height: 32px;
        margin-right: 20px; }
      @media only screen and (max-width: 1279.98px) {
        .footer__adress {
          grid-template-rows: none;
          padding-top: 0; } }
      @media only screen and (max-width: 767.98px) {
        .footer__adress {
          grid-template-rows: 64px 43px 32px;
          row-gap: 40px; } }
    .footer__title {
      color: #FFFFFF;
      letter-spacing: 2px; }
      @media only screen and (max-width: 767.98px) {
        .footer__title {
          max-width: 278px;
          font-size: 25px;
          line-height: 32.5px;
          letter-spacing: 1.5px;
          margin: 0 auto 40px; } }
    .footer__link {
      display: flex;
      vertical-align: middle;
      align-items: center; }
      .footer__link > h4 {
        font-weight: 400;
        letter-spacing: 1px;
        color: #F1CDB3; }
      @media only screen and (max-width: 767.98px) {
        .footer__link {
          justify-content: center; } }
    @media only screen and (max-width: 767.98px) {
      .footer__adress > .footer__link {
        justify-content: start;
        text-align: left; } }
    @media only screen and (max-width: 1279.98px) {
      .footer__img {
        grid-column: 1/3;
        justify-self: center; } }
    @media only screen and (max-width: 767.98px) {
      .footer__img {
        grid-column: 1/2;
        grid-row: 3/4;
        max-width: 260px; } }
  
  .show {
    display: block; }
  
  @font-face {
    font-family: "Arial";
    src: url("assets/fonts/arial.ttf") format("truetype");
    font-style: normal;
    font-weight: normal; }
  @font-face {
    font-family: "Georgia";
    src: url("assets/fonts/georgia.ttf") format("truetype");
    font-style: normal;
    font-weight: normal; }
  
  /*# sourceMappingURL=style.css.map */